# URL de tu Backend de Laravel
EXPO_PUBLIC_API_URL=http://tu_ip_local:8000/api

# Configuración de Laravel Reverb (WebSockets)
EXPO_PUBLIC_REVERB_APP_KEY=app-key
EXPO_PUBLIC_REVERB_PORT=8080

# Geofencing: Centro y Radio permitido del Campus
EXPO_PUBLIC_CAMPUS_CENTER_LAT=-0.9525
EXPO_PUBLIC_CAMPUS_CENTER_LNG=-80.7450
EXPO_PUBLIC_CAMPUS_RADIUS_KM=1.5

# OSRM Service URL (Dejar en blanco para usar el Demo público)
EXPO_PUBLIC_OSRM_URL=http://router.project-osrm.org/route/v1
